{
  "storagePath": "backups/",
  "servers": [
    {
      "active": true,
      "name": "server1",
      "daysCount": 5,
      "maxParallelDownloads": 2,
      "backupsPath": "/backup/",
      "type": "sftp",
      "server": "",
      "user": "root",
      "password": "",
      "port": 22,
      "pathTemplate": "hestia",
      "filePattern": ""
    },
    {
      "active": true,
      "name": "server2",
      "daysCount": 4,
      "maxParallelDownloads": 4,
      "backupsPath": "/backup/",
      "type": "sftp",
      "server": "",
      "user": "root",
      "password": "",
      "port": 22,
      "pathTemplate": "hestia",
      "filePattern": ""
    }
  ]
}